/* .about p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;

} */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}


 .about-title{
    position:relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 800;
}
.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    gap: 40px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap:80px
}

 /* .language{
     width: 35px;
     height: 140p;
     border: 3px solid green;
 } */
   .skills{
    display: flex;
    gap: 18px;
    
    /* transition: 1s; */
    /* border: 3px solid green; */
    /* flex-direction: row; */
    /* transform: scale(1.23%); */
 }
  
  .language{
    /* width: 20px; */
    border: 3px solid white;
    padding: 10px;
    height: 260px;
    border-radius: 10%;
    
     
    cursor: pointer;
    
    /* transform: scale(1.23%); */
    
    
  }
 /* .language:hover{
   transform: scale(1.25%);
 } */
   
 .language h1{
      font-weight: 900;
      font-size: 30px;
      padding-top: 10px ;
 }
 .language p{
   gap: 5px;
   padding-top: 40px;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 30px;
   color: rgb(255, 0, 255);
   /* background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%); */
    

 }
 .education{
    border: 3px solid white;
    padding: 10px;
    height: 260px;
    width: 220px;
    border-radius: 10%;
 }
 .education h1{
    font-weight: 900;
      font-size: 30px;
      padding-top: 10px ;
 }
 .education p{
    
     padding-top: 40px;
      /* font-size: 19px; */
      font-size: 21px;
   color: fuchsia;
     
 }
 .project{
    border: 3px solid white;
    padding: 10px;
    height: 260px;
    width: 220px;
    border-radius: 10%;

 }
 .project h1{
    font-weight: 900;
      font-size: 30px;
      padding-top: 10px ;
 }
 .project p{
     padding-top: 40px;
      /* font-size: 19px; */
      font-size: 25px;
   color: fuchsia;
 }
 .about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
 }
 .about-achievements{
    display: flex;
     width: 100%;
    justify-content: space-around;
    margin-bottom: 80px; 
 }
 .about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
 }
 .about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    color: greenyellow;
    /* background: linear-gradient(270deg, #DF8908 50.41% #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-text-fill-color: transparent;
     */
 }
 .about-achievement p{
    font-size: 22px;
    font-weight: 500;
 }
 .about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
 }
 @media(max-width:768px){
   .about{
      gap: 80px;
      margin: 50px 70px;
      align-items: start;
   }
   .about-title h1{
      font-size:50px;
      padding: 0;
      /* align-items: center; */
   }
   .about-title img{
      width: 130px;
      right: -20px;
   }
   .about-sections{
      flex-direction: column;
   }
   .about-left{
      display: none;
   }
   .about-para{
      font-size: 18px;
      line-height: 32px;
      /* max-width: 30%; */
   }
   .skills{
      flex-direction: column;
      /* display: flex; */
      font-size: 20px;
   }
   .about-achievements{
      justify-content: space-between;
     display: flex;
     flex-direction: column;
   }
   .about-achievement{
      gap: 10px;
   }
   .about-achievement h1{
      font-size: 34px;
      font-weight: 700;
      /* text-align: center; */
   }
   a.about-achievement p{
      align-items: center;
      font-size: 16px;
      /* align-items: center; */
      /* padding-left: 70px; */
   }
    
 }